@media screen and (-webkit-min-device-pixel-ratio: 0) {
    div#google-map iframe {
        height: 705px;
    }
}
@media (min-width: 320px) and (max-width: 575.98px) {

    body {
        font-size: 17px;
    }
    .col-sm-6.col-md-3,
    .col-sm-6.col-md-4 {
        width: 100%;
    }


    /* Main banner */
    .banner-wrapper {
        padding-top: 4em;
    }

    .banner-wrapper .search-section {
        width: 60% !important;
    }

    .banner-wrapper .search-section {
        top: 50% !important;
        left: 30%;
        margin: 2em 0px 0px 1em;

    }

    .search-section .form-group
    {
        padding: 0.15em 0.5em 0px 0.5em;
    }    
    .search-section label{
        font-size: 13px;
    }
    .form-control {
        height: 25px;
        font-size: 13px;
    }
    .btn{
        padding: 2px 2px;
        font-size: 13px;
    }

    .search-section .radio-group
    {
        margin-top: -1.2em;
    }

    .carousel-control-container, .carousel-indicators{
        display: none;
    }

    /* End banner */


    /* Inner banner */
    .breadcrumb_container {
        /*top: 5%; /* Điều chỉnh vị trí của toàn bộ container từ trên xuống */      
    }   
    .breadcrumb_title {
        font-size: 25px !important;
    }

    .inner-breadcrumb ul li a{
        font-size: 0.8em;
    }

    /* End inner banner */


    .callouts-wrapper .callouts,
    .inner-wrapper .callouts,
    .team-wrapper .callouts {
        margin: 1em !important;
    }

    .thumbnail {
        height: 450px;
    }
    .team-wrapper-inner .profile-image {
        max-height: 300px !important;        
    }
    .team-wrapper-inner .profile-image img {
        width: 300px;
        height: auto;
    }
    /*
    .top_logo {
        width: 30%;
    }
    */
    .top_search_form {
        width: 70%;
    }
    .top_search_form input[type="text"] {
        width: 50% !important;
    }
    .navbar-brand img {
        padding-left: 0.5em;
    }
    .unordered-list {
        padding-top: 1em;
    }
    .gal-container .modal-content {
        top: 12%;
    }
    .site_map_links {
        min-width: 100%;
    }
    .widget.widget_links > ul {
        padding: 0;
    }


    #scrollUp {
        right: 5px;
    }
    .box_fixRight {
        bottom: 60px;
        right: -200px !important;
        min-width: 15em;
    }
    .box_fixRight .box_content {
        padding: 5px;
    }
    .box_fixRight .box_content .item {
        padding: 13px 10px 13px 50px;
    }
}

@media (max-width: 430.98px) {
    .social-links li:last-child {
        padding-left: 0;
    }
}

@media (min-width: 576px) and (max-width: 767.98px) {
    
    body {
        font-size: 16px;
    }

    
    /* Main banner */
    .banner-wrapper {
        padding-top: 3em;
    }

    .banner-wrapper .search-section {
        top: 50% !important;
        left: 25%;
        margin: 2em 0px 0px 1em;
        width: 50% !important;

    }

    .search-section .form-group
    {
        padding: 0.15em 0.5em 0px 0.5em;
    }    
    .search-section label{
        font-size: 13px;
    }
    .form-control {
        height: 25px;
        font-size: 13px;
    }
    .btn{
        padding: 2px 2px;
        font-size: 13px;
    }

    .search-section .radio-group
    {
        margin-top: -1.2em;
    }

    .carousel-indicators {
        display: none;
    }
    .banner-wrapper {
        padding-top: 4em;
    }

    .carousel-indicators {
        display: none;
    }

    /* End main banner */    

    /* Innber banner */
    .inner-banner {
        min-heigth: 200px;
        /*padding: 40px 0 30px;*/
    }
    .inner-banner-design h2 {
        padding-top: 50px;
    }    
    
    .inner-breadcrumb ul li a{
        font-size: 0.9em;
        line-height: 0.9em;
    }


    /* End inner banner */

    /* Home blog */
    .team-wrapper-inner .profile-image img {
        width: 300px;
        height: auto;        
     }   

    .team-wrapper .callouts {
        min-height: 550px;
        max-width: 45%;
    }
    /* End home blog */

    .callouts-wrapper .callouts,
    .inner-wrapper .callouts {
        min-height: 450px;
        max-width: 45%;
    }

    .thumbnail {
        height: 450px;
    }
    .caption img {
        max-height: 150px;    
    }
    .top_search_form {
        width: 60%;
    }

    .navbar-brand img {
        padding-left: 0.5em;
    }
    .unordered-list {
        padding-top: 1em;
    }
    .gal-container .modal-content {
        top: 12%;
    }
    .box img,
    .gal-container .description {
        max-width: 60%;
    }
    .satisfied-wrapper h2 {
        padding-top: 2em;
    }
    .widget .site_map_links {
        padding: 0;
    }


    #scrollUp {
        right: 10px;
    }
    .box_fixRight {
        bottom: 60px;
        right: -220px !important;
        min-width: 16em;
    }
    .box_fixRight .box_content {
        padding: 10px;
    }
    .box_fixRight .box_content .item {
        padding: 13px 10px 13px 50px;
    }
}

@media (max-width: 767.98px) {
    body {
        font-size: 17px;
    }
    .service_desc {
        padding: 0 1em 2em;
    }
    .sub-menu {
        max-height: 300px;
        overflow-y: auto;
        overflow-x: hidden;
        padding-right: 10px;
    }
    #scrollUp {
        bottom: 60px;
    }

    .callnow {
        padding-top: 5px;
        padding-left: 5px;
        font-size: 1em;
    }
    .callnow p {
        font-size: 0.8em !important;
    }
    .row-callnow {
        height: 60px;
    }
    .page_links {
        padding-left: 0;
        border-top: 1px solid #fff;
        color: #fff;
        width: 100%;
    }
    .page_links > li:first-child {
        margin-top: 2em;
    }
    .fade-carousel .carousel-control,
    .hover-inn,
    .page_links:after {
        display: none;
    }
    .logo-bar img {
        height: auto;
        width: 165px;
        margin: 0;
    }
    .navbar-collapse {
        float: none;
    }
    .navbar-brand,
    .top-wrapper {
        padding: 0;
    }
    .navbar-header {
        display: block;
        padding: 8px 0;
    }
    .collapse {
        background: #06c;
        display: block;
        margin: 0;
        padding: 0;
        border: none;
    }
    ul.nav.navbar-nav li ul {
        opacity: 1;
        position: static;
        visibility: visible;
    }
    .callouts-wrapper h2::after {
        left: 40%;
    }
    .cta-text {
        padding: 30px 0 10px;
    }
    .cta-btn {
        padding: 10px 0 30px;
    }
    .cta-btn,
    .cta-text {
        float: none;
        text-align: center;
    }
    .content-two,
    .single-service-text {
        width: 100%;
        text-align: left;
    }
    .single-service-img {
        margin: 40px 0;
        width: 100%;
    }
    .comming-soon ul li {
        margin: 0 5px 0 0;
    }
    .count-down .countdown-row .countdown-amount {
        font-size: 32px;
        margin-bottom: -10px;
    }
    .count-down .countdown-row .countdown-period {
        font-size: 12px;
    }
    .satisfied-wrapper .counter p {
        margin: 10px 0 40px;
    }
    .pricing-wrapper-main p.space,
    .team-wrapper-inner,
    .widget .widget {
        margin: 0;
    }
    .website-wrapper h2 {
        font-size: 25px;
    }
    .website-wrapper .website-link input {
        font-size: 13px;
        padding-left: 10px;
        width: 100%;
    }
    .website-wrapper .website-link .submit-btn {
        font-size: 12px;
        width: 85px;
    }
    .inner-banner-heading {
        width: 100%;
    }
    .pricing-wrapper-main .single-plan .pricing-wrapper {
        padding: 30px;
        margin-top: 25px;
    }
    .abt-univ-des {
        margin-bottom: 30px;
    }
    div#google-map iframe {
        height: auto;
    }
    .grid-wrapper [class*="col-"] {
        padding-left: 5px;
        padding-right: 5px;
    }
    .grid-wrappe [class*="col-"] {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    .classic-vertical-tab-panel .tab-content {
        padding-top: 40px;
    }
    .btn-shapes .btn-primary {
        min-width: 180px;
    }
    .btn-shapes .btn-primary:last-child {
        margin-right: 15px;
    }
    .services .callouts h2 {
        text-align: center;
        margin: 0 0 5px;
    }
    .affix .top-wrapper {
        margin-top: -42px;
    }
    .top-wrapper .pull-right {
        float: none !important;
        text-align: center;
    }
    .team-wrapper-inner .capiton {
        padding: 15px 0 25px;
    }
    .inner-wrapper .single-post .meta-info {
        padding: 5px 15px;
    }
    .inner-wrapper .single-post form input {
        margin: 0 0 20px;
    }
    .inner-wrapper .single-post form textarea {
        margin-top: 0;
    }
    .inner-wrapper .single-post .comments a {
        background: rgba(0, 0, 0, 0);
        border-radius: 0;
        text-align: left;
    }
    .inner-wrapper .single-post .comments a img {
        background: #000;
        border-radius: 50%;
        height: auto;
        width: auto;
    }
}
@media (min-width: 768px) {
    .md_hidden {
        display: none;
    }
}
@media (min-width: 768px) and (max-width: 991.98px) {

    /* Main banner */
    .banner-wrapper .search-section {
        top: 62% !important;
    }

    .carousel-control-container {
        top: 60%;
    }

    /* End main banner */

    .top_contact_info,
    .top_logo {
        padding: 0 0 0 1em;
    }

    .navbar-brand img {
        min-width: 106px;
        padding-right: 1em;
    }

    .thumbnail {
        height: 450px;
    }

    .inner-wrapper .callouts {
        min-height: 500px;
        max-width: 46.5%;
    }

    .team-wrapper .callouts {
        min-height: 480px;
        max-width: 46.5%;
    }
    .callouts-wrapper .callouts {
        min-height: 370px;
        max-width: 46.5%;
    }
    .page_links,
    .social-links li:last-child {
        padding-left: 0;
    }
    .top_search_form_2 form {
        display: inline;
    }
    .top_search_form_2 input[type="text"] {
        height: 2em;
        border-top-left-radius: 0.5em;
        border-bottom-left-radius: 0.5em;
        border: 1px solid rgba(150, 150, 150, 0.5);
    }
    .top_search_form_2 button {
        width: 3em;
        background-color: #007bff;
        color: #fff;
        border: none;
        cursor: pointer;
        height: 2em;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
        margin-left: -0.3em;
    }

    .page_links:after {
        display: none;
    }
    .site_map_links {
        min-width: 100%;
    }
    .widget .site_map_links {
        padding: 0;
    }
    .top-wrapper {
        display: none !important;
    }
    .navbar-header {
        max-width: 100px;
        padding: 0 0 15px;
        width: 100%;
    }
    .navbar-nav {
        float: none !important;
    }
    .fade-carousel {
        position: relative;
    }
    .carousel-indicators {
        top: 85% !important;
    }
    .carousel-control {
        margin-top: -1.5em;
    }
    #scrollUp {
        right: 10px;
    }
    .box_fixRight {
        bottom: 60px;
        min-width: 16em;
    }
    .box_fixRight .box_content {
        padding: 10px;
    }
    .box_fixRight .box_content .item {
        padding: 13px 10px 13px 50px;
    }
    .collapse {
        display: block;
    }
    .navbar-collapse {
        padding: 0;
        float: none;
    }
    .cta-text {
        padding: 30px 0 10px;
    }
    .cta-btn {
        padding: 10px 0 30px;
    }
    .cta-btn,
    .cta-text {
        float: none;
        text-align: center;
    }
    .satisfied-wrapper .counter p {
        margin: 10px 0 40px;
    }
    .grid-wrapper [class*="col-"] p {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        width: 100%;
    }
    .featured-plan,
    .inner-wrapper .single-post form input {
        margin: 0 0 20px;
    }
    .widget widget_links.fix {
        margin: 0 0 30px;
    }
    .widget .widget {
        margin: 0;
    }
    .inner-wrapper .single-post form textarea {
        margin-top: 0;
    }
    .single-service-img {
        clear: both;
        float: left;
        margin: 15px 0;
        width: 100%;
    }
    .single-service-text {
        width: 100%;
    }
    .inner-wrapper .single-post .meta-info {
        padding: 0 15px;
    }

    .inner-wrapper {
        padding-top: 7em;
    }
}
@media (min-width: 992px) and (max-width: 1199.98px) {

    .caption img {
        max-height: 180px;
    }
    .inner-wrapper .callouts {
        min-height: 480px;
        max-width: 47.2%;
    }
    .team-wrapper .callouts {
        min-height: 450px;
        max-width: 47%;
    }
    .callouts-wrapper .callouts {
        min-height: 330px;
        max-width: 47%;
    }
    .top_web {
        margin-left: -1.5em;
    }
    .top_search_form_2 {
        display: none;
    }
    .top_search_form_3 form {
        display: inline;
    }
    .widget .site_map_links {
        padding: 0;
    }
    .navbar-header {
        max-width: 100px;
    }
    .navbar-brand {
        padding: 5px 0 0;
    }
    .navbar-collapse,
    .navbar-nav {
        float: none !important;
    }
    .fade-carousel {
        position: relative;
    }
    .carousel-indicators {
        top: 85% !important;
    }
    .carousel-control {
        margin-top: -1.5em;
    }
    #scrollUp {
        right: 10px;
    }
    .box_fixRight {
        bottom: 60px;
        min-width: 16em;
    }
    .box_fixRight .box_content {
        padding: 10px;
    }
    .box_fixRight .box_content .item {
        padding: 13px 10px 13px 50px;
    }
}
@media (min-width: 1200px) {
    .top_contact_info,
    .top_logo {
        padding: 0 0 0 0.5em;
    }
    /* Main banner */
    .banner-wrapper .search-section {
        padding: 1em;
        width: 30%;
    }
    .carousel-control {
        margin-top: -1.5em;
    }

    /* End main banner */

    .inner-wrapper .callouts {
        margin: 1em 2em 2em 1em !important;
        min-height: 500px;
        max-width: 29.4%;
    }
    .team-wrapper .callouts {
        margin: 1em 2em 2em 1em !important;
        min-height: 520px;
        max-width: 21.1%;
    }
    .callouts-wrapper .callouts {
        margin: 1em 2em 2em 1em !important;
        min-height: 370px;
        max-width: 29.4%;
    }
    .top_web {
        margin-left: -1.5em;
    }
    .top_search_form_2 {
        display: none;
    }
    .top_search_form_3 form {
        display: inline;
    }
    .widget .site_map_links {
        padding: 0;
    }
    .navbar-brand {
        padding-top: 0.2em;
    }
    .fade-carousel {
        position: relative;
    }
    .carousel-indicators {
        top: 85% !important;
    }
    #scrollUp {
        right: 10px;
    }
    .box_fixRight {
        bottom: 60px;
        min-width: 16em;
    }
    .box_fixRight .box_content {
        padding: 10px;
    }
    .box_fixRight .box_content .item {
        padding: 13px 10px 13px 50px;
    }
}
