@media (min-width: 320px) and (max-width: 575.98px) {
    body {
        font-size: 17px !important;
    }
    .col-sm-6.col-md-3,
    .col-sm-6.col-md-4 {
        width: 100%;
    }
    .banner-wrapper {
        padding-top: 3.8em;
    }
    .banner-wrapper .search-section {
        width: 90% !important;
        top: 65% !important;
        margin-top: 2em;
    }
    .form-control {
        height: 27px;
    }
    .carousel-control-container {
        display: none;
    }
    .breadcrumb_title {
        font-size: 25px !important;
    }
    .inner-breadcrumb ul li a {
        font-size: 0.8em;
    }
    .top_search_form {
        width: 70%;
    }
    .top_search_form input[type="text"] {
        width: 40% !important;
    }
    .navbar-brand img {
        padding: 0.2em 0 0 0.5em;
    }
    .unordered-list {
        padding-top: 1em;
    }
    .gal-container .modal-content {
        top: 12%;
    }
    .site_map_links {
        min-width: 100%;
    }
    .widget.widget_links > ul {
        padding: 0;
    }
    #scrollUp {
        right: 5px;
    }
}
@media (min-width: 576px) and (max-width: 767.98px) {
    .callnow {
        width: 100%;
    }
    body {
        font-size: 16px;
    }
    .banner-wrapper .search-section {
        top: 85% !important;
        width: 70% !important;
    }
    .banner-wrapper {
        padding-top: 3.8em;
    }
    .inner-banner {
        min-heigth: 200px;
    }
    .inner-breadcrumb ul li a {
        font-size: 0.9em;
        line-height: 0.9em;
    }
    .inner-wrapper .callouts {
        min-height: 650px;
        max-width: 45%;
    }
    .callouts-wrapper .callouts {
        min-height: 520px;
        max-width: 45%;
    }
    .caption img {
        max-height: 150px;
    }
    .top_search_form {
        width: 60%;
    }
    .navbar-brand img {
        padding: 0.2em 0 0 0.5em;
    }
    .unordered-list {
        padding-top: 1em;
    }
    .gal-container .modal-content {
        top: 12%;
    }
    .box img,
    .gal-container .description {
        max-width: 60%;
    }
    .widget .site_map_links {
        padding: 0;
    }
    #scrollUp {
        right: 10px;
    }
}
@media (max-width: 767.98px) {
    body {
        font-size: 17px !important;
    }
    .banner-item {
        padding: 0.5em 0;
    }
    .banner-img-float {
        float: none;
        width: 100%;
        margin: 0 0 12px;
    }
    .banner {
        margin-top: 50px;
    }
    .bg-blob::before {
        width: 320px;
        height: 240px;
        left: -60px;
        top: -60px;
    }
    .bg-blob::after {
        width: 260px;
        height: 220px;
        right: -40px;
        top: -30px;
    }
    .admin-action-buttons,
    .fade-carousel .carousel-control,
    .hover-inn,
    .icon-desktop,
    .page_links:after {
        display: none;
    }
    .icon-mobile {
        display: inline;
    }
    .btn,
    .form-control,
    .search-section label {
        font-size: 15px;
    }
    .form-control {
        height: 28px;
    }
    .btn {
        padding: 2px;
    }
    .sidebar,
    .widget_links {
        padding-left: 0;
    }
    .footer-bottom .statistics {
        padding-top: 1em;
    }
    .inner-banner-wrapper {
        padding-top: 4em;
    }
    .team-wrapper .callouts {
        min-height: 400px;
    }
    #scrollUp {
        bottom: 60px;
    }
    .callnow {
        padding-top: 5px;
        padding-left: 5px;
        font-size: 1em;
        position: absolute;
    }
    .callnow > :not(:last-child) {
        margin-right: 1.5em;
    }
    .callnow p {
        font-size: 0.8em !important;
    }
    .row-callnow {
        height: 60px;
    }
    .page_links {
        padding-left: 0;
        border-top: 1px solid #fff;
        color: #fff;
        width: 100%;
    }
    .page_links > li:first-child {
        margin-top: 2em;
    }
    .logo-bar img {
        height: auto;
        width: 165px;
        margin: 0;
    }
    .navbar-collapse {
        float: none;
    }
    .navbar-brand,
    .top-wrapper {
        padding: 0;
    }
    .navbar-header {
        display: block;
        padding: 8px 0;
    }
    .collapse {
        background: #06c;
        display: block;
        margin: 0;
        padding: 0;
        border: none;
    }
    ul.nav.navbar-nav li ul {
        opacity: 1;
        position: static;
        visibility: visible;
    }
    .callouts-wrapper h2::after {
        left: 40%;
    }
    .pricing-wrapper-main p.space {
        margin: 0;
    }
    .top-wrapper .pull-right {
        float: none !important;
        text-align: center;
    }
}
@media (min-width: 768px) {
    .md_hidden {
        display: none;
    }
    .logo-bar {
        background: linear-gradient(180deg, #eaf2ff 0, #fff 100%);
    }
}
@media (min-width: 768px) and (max-width: 991.98px) {
    .banner-wrapper .search-section {
        top: 80% !important;
        width: 70% !important;
        color: #fff;
    }
    .carousel-control-container {
        top: 65%;
    }
    .top_contact_info,
    .top_logo {
        padding: 0 0 0 1em;
    }
    .navbar-brand img {
        min-width: 106px;
        padding-right: 1em;
    }
    .inner-wrapper .callouts {
        min-height: 570px;
        max-width: 46.5%;
    }
    .callouts-wrapper .callouts {
        min-height: 380px;
        max-width: 46.5%;
    }
    .team-wrapper .callouts {
        min-height: 520px;
        max-width: 46.5%;
    }
    .page_links {
        padding-left: 0;
    }
    .top_search_form_2 form {
        display: inline;
    }
    .top_search_form_2 input[type="text"] {
        height: 2em;
        border-top-left-radius: 0.5em;
        border-bottom-left-radius: 0.5em;
        border: 1px solid rgba(150, 150, 150, 0.5);
    }
    .top_search_form_2 button {
        width: 3em;
        background-color: #007bff;
        color: #fff;
        border: none;
        cursor: pointer;
        height: 2em;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
        margin-left: -0.3em;
    }
    .page_links:after {
        display: none;
    }
    .site_map_links {
        min-width: 100%;
    }
    .widget .site_map_links {
        padding: 0;
    }
    .top-wrapper {
        display: none !important;
    }
    .navbar-header {
        max-width: 100px;
        padding: 0 0 15px;
        width: 100%;
    }
    .mainmenu-area ul.nav.navbar-nav li ul li {
        max-width: 235px !important;
    }
    .navbar-nav {
        float: none !important;
    }
    .fade-carousel {
        position: relative;
    }
    .carousel-control {
        margin-top: -1.5em;
    }
    #scrollUp {
        right: 10px;
    }
    .collapse {
        display: block;
    }
    .navbar-collapse {
        padding: 0;
        float: none;
    }
    .featured-plan {
        margin: 0 0 20px;
    }
}
@media (min-width: 992px) and (max-width: 1199.98px) {
    .carousel-control-container {
        top: 65%;
    }
    .banner-wrapper .search-section {
        top: 80% !important;
        width: 50% !important;
        color: #fff;
    }
    .caption img {
        max-height: 180px;
    }
    .inner-wrapper .callouts {
        min-height: 480px;
        max-width: 47.2%;
    }
    .team-wrapper .callouts {
        min-height: 490px;
        max-width: 29%;
    }
    .callouts-wrapper .callouts {
        min-height: 330px;
        max-width: 47%;
    }
    .top_web {
        margin-left: -1.5em;
    }
    .top_search_form_2 {
        display: none;
    }
    .top_search_form_3 form {
        display: inline;
    }
    .widget .site_map_links {
        padding: 0;
    }
    .navbar-header {
        max-width: 100px;
    }
    .navbar-brand {
        padding: 5px 0 0;
    }
    .navbar-collapse,
    .navbar-nav {
        float: none !important;
    }
    .fade-carousel {
        position: relative;
    }
    .carousel-control {
        margin-top: -1.5em;
    }
    #scrollUp {
        right: 10px;
    }
}
@media (min-width: 1200px) {
    .banner-text {
        max-width: 1600px;
        margin: 0 auto;
        text-align: center;
    }
    .callouts-wrapper .callouts,
    .inner-wrapper .callouts,
    .team-wrapper .callouts {
        margin: 1em 2em 2em 1em !important;
        max-width: 29%;
    }
    .top_contact_info,
    .top_logo {
        padding: 0 0 0 0.5em;
    }
    .banner-wrapper .search-section {
        top: 80% !important;
        width: 500px;
    }
    .carousel-control {
        margin-top: -1.5em;
    }
    .inner-wrapper .callouts {
        min-height: 550px;
    }
    .team-wrapper .callouts {
        min-height: 490px;
    }
    .callouts-wrapper .callouts {
        min-height: 370px;
    }
    .top_web {
        margin-left: -1.5em;
    }
    .top_search_form_2 {
        display: none;
    }
    .top_search_form_3 form {
        display: inline;
    }
    .widget .site_map_links {
        padding: 0;
    }
    .navbar-brand {
        padding-top: 5px;
    }
    .fade-carousel {
        position: relative;
    }
    #scrollUp {
        right: 10px;
    }
}
@media (hover: hover) and (pointer: fine) {
    .mainmenu-area ul.navbar-nav li:hover > .sub-menu {
        display: block;
    }
}
