/*! #######################################################################
    MeanMenu 2.0.7
    --------
    To be used with jquery.meanmenu.js by Chris Wharton (http://www.meanthemes.com/plugins/meanmenu/)
####################################################################### */
a.meanmenu-reveal {
    display: none;
}
.mean-container .mean-bar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    max-width: 100%;
    background: #fff;
    padding: 0;
    z-index: 999999;
}
.mean-container a.meanmenu-reveal {
    width: 28px;
    height: 28px;
    padding: 15px 21px 11px;
    position: absolute;
    top: 9px;
    right: 0;
    cursor: pointer;
    color: red;
    text-decoration: none;
    text-indent: -9999em;
    line-height: 22px;
    font-size: 1px;
    display: block;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
}
.mean-container .mean-nav ul,
.mean-container .mean-push,
.mean-nav .wrapper {
    width: 100%;
    padding: 0;
    margin: 0;
}
.mean-container a.meanmenu-reveal span {
    display: block;
    background: #06c;
    height: 3px;
    margin-top: 3px;
}
.mean-container .mean-nav {
    float: left;
    width: 100%;
    background: #fff;
    margin-top: 0;
}
.mean-container .mean-nav ul {
    list-style-type: none;
}
.mean-container .mean-nav ul li {
    position: relative;
    float: left;
    width: 100%;
}
.mean-container .mean-nav ul li a {
    display: block;
    float: left;
    width: 80%;
    padding: 1em 30% 1em 1em;
    margin: 0;
    text-align: left;
    color: #fff;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    text-decoration: none;
    text-transform: uppercase;
}
.mean-container .mean-nav ul li li a {
    padding: 14px 10% 14px 2em;
    border-top: 1px solid rgba(255, 255, 255, 0.25);
    opacity: 0.75;
    text-shadow: none !important;
    visibility: visible;
    text-transform: capitalize;
}
.mean-container .mean-nav ul li.mean-last a {
    border-bottom: none;
    margin-bottom: 0;
}
.mean-container .mean-nav ul li li li a {
    width: 70%;
    padding: 12px 30% 12px 4em;
}
.mean-container .mean-nav ul li li li li a {
    width: 60%;
    padding: 1em 20%;
}
.mean-container .mean-nav ul li li li li li a {
    width: 50%;
    padding: 1em 25%;
}
.mean-container .mean-nav ul li a:focus,
.mean-container .mean-nav ul li a:hover {
    background: rgba(255, 255, 255, 0.1);
}
.mean-container .mean-nav ul li a.mean-expand {
    margin-top: 1px;
    width: 26px;
    height: 38px;
    padding: 12px 8px 4px !important;
    text-align: center;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 2;
    font-weight: 700;
    background: #06c;
    border: none !important;
    border-left: 1px solid rgba(255, 255, 255, 0.4) !important;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2) !important;
}
.mean-container .mean-nav ul li a.mean-expand:hover {
    background: #00448f;
}
.mean-container .mean-push {
    float: left;
    clear: both;
}
.mean-container .mean-bar,
.mean-container .mean-bar * {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}
.mean-remove {
    display: none !important;
}
